@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,900&display=swap');
#gamecontainer{
    width: 640px;
    height: 480px;
    background: url(images/splashscreen.png);
    border: 3px solid green;
    margin-top: 50px;

}

.gamelayer{
    width: 640px;
    height: 480px;
    display: none;
    position: absolute;

}

/*Home Screen*/
#gamestartscreen{
    padding-top: 180px;
    text-align: center;
}

#gamestartscreen img {
    margin: 10px;
    cursor: pointer;
}

#levelselectscreen{
    padding-top: 150px;
    
}

#levelselectscreen input{
    margin: 20px;
    cursor: pointer;
    background: url(images/icons/level.png);
    color:yellow;
    font-size: 20px;
    width: 64px;
    height: 64px;
    border: 1px solid yellow;
}

#loadingscreen{
    background: rgba(100,100,100,0.3);
}

#selbutton{
    display: flex;
    justify-content: space-around;
}

#loadingmessage{
    margin-top:400px;
    text-align: center;
    height: 48px;
    color:white;
    background: url(images/loader.gif) no-repeat center;
    font:12px Arial;
}

#scorescreen{
    height:60px;
    font:32px Comic Sans MS;
    text-shadow:  0 0 2px #000;
    color:white;
}

#scorescreen img{
    opacity: 0.6;
    top:10px;
    position:relative;
    padding-left: 10px;
    cursor:pointer;
}

#scorescreen #score{
    position:absolute;
    top:5px;
    right:20px;
}

#endingscreen{
    text-align: center;
}

#endingscreen div{
    height: 430px;
    padding-top: 50px;
    border:1px;
    background: rgba(1,1,1,0.5);
    text-align: left;
    padding-left: 100px;
}

#endingscreen p{
    font: 20px Comic Sans MS;
    text-shadow: 0 0 2px #000;
    color:white
}

#endingscreen p img{
    top:10px;
    position:relative;
    cursor:pointer;
}

/*Botones menu inicio*/
.menuButton{
    position:relative;
    display:inline-block;
  }
  
.menuButton a{
    cursor: pointer;
    color:white;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size:20px;
    text-align: center;
    text-decoration:none;
    background-color:#FFA12B;
    display:block;
    position:relative;
    padding:15px 35px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
  
.menuButton a:active{
    top:10px;
    background-color:#F78900;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}
  
.menuButton:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*Botones niveles*/

.levelButton{
    width: 640px;
    height: 480px;
    display: none;
    position: absolute;
}
.levelButton button{
    width:70px;
    height:70px;
    background: linear-gradient(to left top, #F78900 50%, #F78900 50%);
    border-style: none;
    color:#fff;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: 'Lato';
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.levelButton button span{
    position: absolute;
    display: block;
}
.levelButton button span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
.levelButton button span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
.levelButton button span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

.levelButton button span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

.levelButton button:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
.levelButton button:hover span{
    animation-play-state: paused;
}